.signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #2eccc1; /* Cambiar el color de fondo a #2eccc1 */
}

.signUp_contenido {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #333333;
}

h3 {
  color: #2eccc1; /* Cambiar el color del texto a #2eccc1 */
}

label {
  color: #2eccc1; /* Cambiar el color del texto a #2eccc1 */
}

.form-control {
  border: 1px solid #2eccc1; /* Cambiar el color del borde a #2eccc1 */
}

.form-control:focus {
  border-color: #2eccc1; /* Cambiar el color del borde al enfocar a #2eccc1 */
}

.btn-success {
  background-color: #2eccc1; /* Cambiar el color del fondo a #2eccc1 */
  border: none;
}

.btn-success:hover {
  background-color: #2eccc1; /* Cambiar el color del fondo al pasar el ratón a #2eccc1 */
}

.main_login_info {
  padding: 20px;
}

.form-group-password {
  margin-bottom: 5px;
}

.form-group-email {
  margin-bottom: 5px;
}

.btn-login {
  margin-top: 15px;
}

.btn-register {
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn-login {
  white-space: nowrap;
  margin-top: 15px;
  margin-right: 10px;
}

.btn-register {
  width: 48%;
  max-width: 200px;
  white-space: nowrap;
  margin: 15px auto 0;
}


  